.about {
    text-align: center;
    background-color: $orange;
    color: $light-text;
    padding: 30px 0;
    margin: 0;
}  
.intro {
    margin-top: 30px;
    text-align: center;
    padding: 0 15px;
}

.timeline-wrapper img {
    max-width: 600px;
}

.timeline-event-content p {
    float: none;
    a:hover {
        text-decoration: underline;
        color: $about-hover;
    }
}

.timeline-series dd {
    width: auto;
}

@media (max-width: 1259px) and (min-width: 990px) {
    .timeline-wrapper h2 {
        font-size: 2.5em;
    }
    .timeline-series dt {
        font-size: 1.35em;
    }
}

@media (max-width: 989px) and (min-width: 768px) {
    .timeline-series dt {
        font-size: 1.3em;
    }
    .timeline-wrapper, .timeline-container, .timeline-series {
        width: 708px;
    }
    .timeline-wrapper h2 {
        font-size: 2em;
    }
    .timeline-wrapper img {
        max-width: 600px;
        max-height: 400px;
    } 
} 

@media (max-width: 767px) {
    .timeline-container {
        margin-left: 35px;
    }
    .timeline-series, .timeline-event {
        & > * {
            width: 350px;
        }
         dt {
            font-size: 16px;
            padding: 0 0 0 18px;
         }
    }
    .timeline-wrapper, .timeline-container, .timeline-series {
        width: 400px;
    }
    .timeline-wrapper h2 {
        font-size: 1.8em;
    }
    .timeline-wrapper img {
        max-width: 350px;
        max-height: 320px;
    }
    .closed { 
        font-size: 16px !important;
    }
    .open {
        font-size: 16px !important;
    }
    .timeline-event-content p {
        width: 300px;
    }
}