// ---- Colours ---- // 

$orange: orange;
$black: black;
$white: #fff;
$light-text: #fff;
$dark-text: black;


// ---- horizontal margins ----//
$margin-h: 50px;

// ---- fonts ---- // 

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

// font-family: 'Noto Sans JP', sans-serif;
