/* CONTACT FORM PAGE STYLES */
.form {
    h2 {
        text-align: center;
        background-color: $orange;
        color: $light-text;
        padding: 30px 0;
        margin: 0;
    }
    p {
        text-align: center;
        margin-top: 35px;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    margin-left: auto;
    margin-right: auto;
} 
.form-content {
        display: flex;
        width: 1200px;
        margin: auto;
        form {
            padding-left: 30px;
        }
        .img {
            border: orange 15px solid;
            padding: 8px;
            margin: 0 auto;
        }
        .column-1, .column-2 {
            display: flex; 
            flex-direction: column;
            width: 600px;
        }
        input, textarea {
            display: block;
            background: rgba(255,255,255,0.1);
            border: none;
            font-size: 16px;
            height: auto;
            margin: 15px 0;
            outline: 0;
            padding: 15px;
            width: 100%;
            background-color: #e8eeef;
            color: #8a97a0;
            box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
            margin-bottom: 30px;
            width: 80%;
            border-radius: 2px;
            &:focus { 
                box-shadow: inset $about-hover 0px 0px 4px 0px
               }
        }
        .btn {
            font-weight: bold;
            // margin: 0 0 0 15px;
            display: block;
            border: none;
            background-color: $yellow;
            padding: 10px 20px; 
            border-radius: 4px;
            margin-top: 30px;
            &:hover {
                background-color: lighten($yellow, 20%);
            }
        }
    label {
        display: block;
        margin-bottom: 8px;
      }
      .checkbox, .gdpr {
        display: inline-block;    
      }
      .checkbox {
          width: auto;
          display: inline-block;
      }
      .gdpr {
          margin: 16px 0;
          padding-left: 5px;
          font-size: 14px;
          a:hover {
            text-decoration: underline;
          }
      }
      .privacy-check {
          display: flex;
      }
    //   Javascript styling
    // .input-active {
    //     box-shadow: inset $about-hover 2px 0;
    // }
  }

@media (max-width: 1259px) and (min-width: 990px) {
    .form-content {  
        width: 960px;
    }
    .gdpr a::before {
        content: "\A";
        white-space: pre;
    }
    .form-content .gdpr {
        text-align: left;
        text-align: start; 
        margin: 12px 0 16px 0;
    }
}

@media (max-width: 989px) and (min-width: 768px) {
    .form-content {
        width: 750px;
        flex-direction: column;
        .column-1 {
            flex-direction: column-reverse;
            padding-bottom: 40px;
        }
        .column-1, .column-2 {
            width: 560px;
        }
        input, textarea {
            width: 100%;
        }
        .btn {
            padding: 15px 30px;
        }
        .checkbox {
            height: 18px;
            width: 18px;
        }
        .gdpr {
            padding-left: 10px;
        }
        .gdpr a::before {
            content: "\A";
            white-space: pre;
        }
    }
    .column-1, .column-2 {
        margin: auto;
    }
    .form-container {
        padding: 10px 0 50px 0;
    }
    .column-1 .img img {
        width: 400px;
    }
    .form-content .gdpr {
        text-align: left;
        text-align: start; 
        margin: 12px 0 16px 0;
    }
} 
@media (max-width: 767px) {
    .form-content {
        width: 450px;
        flex-direction: column;
        .column-1 {
            flex-direction: column-reverse;
            padding-bottom: 40px;
        }
        .column-1, .column-2 {
            width: 450px;
        }
        input, textarea {
            width: 100%;
        }
        .btn {
            padding: 15px 30px;
        }
        .checkbox {
            height: 18px;
            width: 18px;
        }
        .gdpr {
            padding-left: 10px;
        }
        .gdpr a::before {
            content: "\A";
            white-space: pre;
        }
        form {
            padding: 0 20px;
        }
    }
    .column-1, .column-2 {
        margin: auto;
    }
    .form-container {
        padding: 10px 0 50px 0;
    }
    .column-1 .img img {
        width: 350px;
    }
    .form-content .gdpr {
        text-align: left;
        text-align: start; 
        margin: 12px 0 16px 0;
    }
}