.header-container {
    display: flex;
    padding: 15px 0;
}
.header-content {
    display: flex;
    width: 1200px;
    margin: 0 $margin-h;
}
.qb-logo {
    background-color: grey;
    width: 200px;
}
.main-nav {
    ul li {
        display: inline-block;
        padding: 0 15px;
    }    
   .drop-nav ul li {
        display: block;
    }
    margin-left: auto;
}

.drop-nav {
    display: none;
    position: absolute;
    background-color: $orange;
    ul {
        padding: 0;
    }
}
.services {
    position: relative;
}

.services:hover {
    .drop-nav {
        display: block;
    }
}

.telephone-contact {
    display: flex;
    flex-direction: column;
    background-color: $orange;
    margin-left: 30px;
}

.circle {
    border-radius: 50%;
    background-color: $white;
}