
// CSS for Partners section 

.partners-container {
    display: flex;
    justify-content: center;
}

.partners-heading {
    position: relative;
}

.partners {
    padding-bottom: 30px;
}

.partners-title {
    font-size: 2em;
    margin-bottom: 40px;
}

.partners-heading::after {
    content: "";
    position: absolute;
    left: 0;
    width: 165px;
    top: 45px;
    height: 3px;        
    background-color: $light-gray;
} 

.partner-1 {
    display: none !important;
}

/* -------- Hover text appears ---- */
 
.partner:hover .partner1 {
    display: none !important;
}

.partner:hover .partner-1 {
    display: block !important;
}

.slick-next {
    right: -150px;
    top: 15px;
}

.slick-prev {
    left: -150px;
    top: 15px;
}



.slick-prev:before {
    content: "<";
    color: black;
    font-size: 100px;
    opacity: 0.15;
  }
  
  .slick-next:before {
    content: ">";
    color: black;
    font-size: 100px;
    opacity: 0.15;
  }