.welcome-container {
    display: flex;
    margin: 0 $margin-h;
    .column-1, .column-2 {
        display: flex;
        width: 50%;
    }
    .column-1 {
        flex-direction: column;
    }
}


.welcome-images {
    border: orange 15px solid;
    padding: 8px;
}

.welcome-bottom-imgs {
    display: flex;
    padding-top: 2px;
}

.top-img {
    height: 400px;
    width: 562px;
    // background-color: $white;
    background-image: url('../Imgs/pictures/house-plans.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}

.bottom-img-1 {
    height: 200px;
    width: 280px;
    margin-right: 1px;
    background-color: $white;
    background-image: url('../Imgs/pictures/plans.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-img-2 {
    height: 200px;
    width: 280px;
    margin-left: 1px;
    background-color: $white;
    background-image: url('../Imgs/pictures/grinder.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}