// Services section styles

.services1 {
    background-color: $orange;
    display: flex;
    justify-content: center;
    color: white;
    padding: 30px 0;
}

.services-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.service-title {
    position: relative;
    width: 180px;
    justify-content: center;
    flex: 1 0 auto;
    margin-right: 50px;
    font-size: 2em;
    white-space: nowrap;
}

.service-title-text {
        font-size: 1.35em;
}

.service-title::after {
    content: "";
    position: absolute;
    left: 0;
    width: 125px;
    top: 45px;
    height: 3px;        
    background-color: $white;
} 

.services-container {
    display: flex;
    justify-content: space-between;
    color: $black;
    flex-wrap: wrap;
}

.service {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: auto; 
    position: relative;
    align-items: center;
    border: 3px solid $white;
    img {
        width: 100%;
        height: 240px;
    }
}

.service-icon {
    padding: 20px;
    background-color: $black;
    color: white;
    border-radius: 50%;
    margin: -50px 0;
}

.text-section {
    margin-top: 40px;
    text-align: center;
    width: 90%;
    h3 {
        font-size: 1.75em;
    }
    p {
        font-size: 1.35em;
        line-height: 1.15em;
    }
}

// Media Queries 

@media screen and (min-width: 550px) { 

    .service {
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) { 
    .container {
        width: 750px;
    }
    .service {
        width: 47%;
    }

    .service-3 {
        width: 47%;
        margin-left: auto;
        margin-right: auto;
    }

.services-title {
    flex-direction: row
}
}

@media screen and (min-width:990px) { 
    .container {
        width: 910px;
    }
    .service {
        width: 31%;
        margin: 0;
    }
}

@media screen and (min-width: 1260px) {
    .container {
        width: 1200px;
    }

}
