
// CSS for Partners section 

.partners-container {
    display: flex;
    justify-content: center;
    width: auto;
}

.partners-heading {
    position: relative;
    margin-left: 10px;
}

.partners {
    padding-bottom: 30px;
}

.partners-title {
    font-size: 2em;
    margin-bottom: 40px;
}

.partners-heading::after {
    content: "";
    position: absolute;
    left: 0;
    width: 165px;
    top: 45px;
    height: 3px;        
    background-color: $divider;
} 

.partner-1 {
    display: none !important;
}

/* -------- Hover text appears ---- */
 
.partner:hover .partner1 {
    display: none !important;
}

.partner:hover .partner-1 {
    display: block !important;
}

.slick-next {
    right: 3%;
    top: 15px;
    z-index: 10;
}

.slick-prev {
    left: 0;
    top: 15px;
    z-index: 10;
}

.slick-prev:before {
    content: "<";
    color: black;
    font-size: 100px;
    opacity: 0.15;
  }
  
  .slick-next:before {
    content: ">";
    color: black;
    font-size: 100px;
    opacity: 0.15;
  }

@media screen and (min-width: 550px) { 
    .partners-heading {
        margin-left: 0;
    }
}

@media screen and (min-width: 768px) { 

}

@media screen and (min-width:990px) { 


}

@media screen and (min-width: 1260px) {

}