.welcome-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.welcome-content {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-top: 25px;
    .column-1, .column-2 {

        width: 50%;
        padding: 15px;
    }
    .column-1 {
        flex-direction: column;
        h2 {
            margin-bottom: 5px;
            font-size: 36px;
            font-weight: 400;
            margin-top: 0;
        }
    }
}

.flat-divider {
    height: 2px;
    width: 300px;
    background-color: $divider;
}

.welcome-images {
    border: orange 15px solid;
    padding: 8px;
    width: 600px;
}

.welcome-bottom-imgs {
    display: flex;
    padding-top: 2px;
}

.top-img {
    height: 414px;
    // width: 554px;
    // background-color: $white;
    background-image: url('../Imgs/pictures/house-plans.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}

.bottom-img-1 {
    height: 200px;
    width: 280px;
    margin-right: 1px;
    background-color: $white;
    background-image: url('../Imgs/pictures/plans.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-img-2 {
    height: 200px;
    width: 280px;
    margin-left: 1px;
    background-color: $white;
    background-image: url('../Imgs/pictures/grinder.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1259px) and (min-width: 990px) {
    .welcome-content {
        width: 960px;
        p {
            font-size: 16px;
        }
    }
    .top-img {
        height: 287px;
        width: 404px;
    }
    .welcome-images {
        width: 452px;
    }
    .welcome-bottom-imgs div {
        height: 143px;
        width: 200px;
    }
    .flat-divider {
        width: 258px;
    }
    .welcome-content .column-1 h2 {
        font-size: 30px;
    }
    .column-1 .img img {
        width: 350px;
    }
}

@media (max-width: 989px) and (min-width: 768px) {
    .welcome-content .column-1, .welcome-content .column-2 {
        width: 100%;
    }
    .welcome-content {
        flex-direction: column;
        width: 750px;
        p {
            font-size: 18px;
        }
    }
    .welcome-images {
        margin: auto;
    }
} 
@media (max-width: 767px) {
    .welcome-content .column-1, .welcome-content .column-2 {
        width: 100%;
    } 
}