.header-container {
    display: flex;
    // padding: 15px 0;
}
.header-content {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.qb-logo {
    display: flex;
    a {
        display: flex;
    }
    img {
        margin: auto auto auto 0;
        width: 260px;
    }
}
.main-nav {
    ul li {
        display: inline-block;
        padding: 20px 15px;
        &:hover {
            background: darken($white, 5%);
        }
        a {
            padding: 20px 15px;
        }
    }    
    margin: auto 0 auto auto;
}

.drop-nav {
    display: none;
    position: absolute;
    background-color: $orange;
    top: 58px;
    left: 0px;
    z-index: 9999999999;
    ul {
        padding: 0;
    }
    ul li {
        display: flex;
        padding: 0;
        a {
            padding: 10px 10px;
        }
    }

}
.services {
    position: relative;
}

.services, .drop-nav {
    width: 150px;
}

.services:hover {
    .drop-nav {
        display: block;
    }
}

.telephone-contact {
    display: flex;
    background-color: $orange;
    margin: auto 0 auto 30px;
    .circle {
        background-color: $white;
        height: 40px;
        width: 40px;
        display: flex;
        margin: 3px 7px;
    }
    svg {
        height: 28px; 
        fill: $orange;
        margin: auto;
    }
    a {
        display: flex;
        align-items: center;  
        padding: 0 12px 0 0;
    }
}
 
.circle {
    border-radius: 50%;
    background-color: $white;
}