// Testimonials styles

.testimonials-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.testimonial-title {
    margin-bottom: 60px;

}

.blockquote {
    position: relative;
}
    
.blockquote p {
    font-size:21px;
}
    
.blockquote p:before { 
    content: open-quote;
    font-weight: bold;
    font-size:100px;
    color: black;
    position: absolute;
    bottom: -50px;
} 

.blockquote p:after { 
    content: close-quote;
    font-weight: bold;
    font-size:100px;
    color: black;
    position: absolute;
    left: 1140px;
    margin-top: 20px;
}

.client-testimonial {
    font-size: 1.5em;
}

.testimonial-p {
    padding: 10px 0;
}

//  Testimonial page css

.testimonials-top {
    background-color: orange;
    display: flex;
    justify-content: center;
    color: white;
}

.testimonial-headline {
    display: flex;
    align-items: center;;
    justify-content: center;
    flex-direction: column;
}

.testimonials-section1 {
    border: orange 15px solid;
    padding: 8px;
    width: 1250px;
    margin: 10px auto;    
}

.client-1 {
    margin:  40px auto auto;
    padding: 20px;
    border-radius: 50%;
    background-color: $orange;
}
