//  Testimonial page css

.testimonials-top {
    background-color: $orange;
    display: flex;
    justify-content: center;
    color: $white;
}

.testimonial-headline {
    display: flex;
    align-items: center;;
    justify-content: center;
    flex-direction: column;
}

.testimonials-section1 {
    border: $orange 15px solid;
    padding: 8px;
    width: 1250px;
    margin: 10px auto;    
}

.client-1 {
    margin:  40px auto auto;
    padding: 10px;
    border-radius: 50%;
    background-color: $white;
    border: solid 15px $orange;
    border-radius: 50%;
}
